<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <!-- section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section -->
            <div class="title">Touch with me through</div>
            <div class="social">
                <a target="_blank" href="https://www.facebook.com/longgeek">Facebook</a>
                <a target="_blank" href="http://twitter.com/longgeek">Twitter</a>
                <a href="mailto:longgeek@gmail.com">E-Mail</a>
                <a target="_blank" href="http://weibo.com/longgeek/">Weibo</a>
                <a target="_blank" href="http://github.com/longgeek/">GitHub</a>
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=421192984&site=qq&menu=yes">QQ</a>
            </div>
            <div class="socialiconfont">
              <a target="_blank" href="https://www.facebook.com/longgeek"><span class="icon icon-facebook"></span></a>
              <a target="_blank" href="http://twitter.com/longgeek"><span class="icon icon-twitter"></span></a>
              <a target="_blank" href="http://weibo.com/longgeek/"><span class="icon icon-weibo"></span></a>
              <a href="mailto:longgeek@gmail.com"><span class="icon icon-envelope"></span></a>
              <a target="_blank" href="http://github.com/longgeek"><span class="icon icon-github"></span></a>
            </div>
            <div class="copyright">Copyright © 2016 Longgeek</div>
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- Fitvids makes video embeds responsive and awesome --}}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?573f449fdf181fd6a6017759c540de35";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan style='display:none;' id='cnzz_stat_icon_1261063857'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1261063857' type='text/javascript'%3E%3C/script%3E"));</script>
    <script id="dsq-count-scr" src="//longgeek.disqus.com/count.js" async></script>
</body>
</html>
